*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, li{
    margin: 0;
    padding: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container{
    padding: 0 40px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
}

.logo >img{
    width: 236px;
    height: 26px;
}

.navbar{
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;

}

.toggle{
    margin-top: -100px;
}

.toggle >span{
    display: flex;

    border-radius: 5px;
    width: 20px;
    height: 4px;
    background: rgba(51, 61, 75, 1);

    margin-top: 7px;
}

.toggle >span::after{
    display: flex;
    content: "";

    border-radius: 5px;
    width: 20px;
    height: 4px;
    background: rgba(51, 61, 75, 1);
    margin-top: -7px;
}


.navbar-item{
    margin: 0 20px;
}

.navbar-item >a{
    text-decoration: none;
    font-family: serif;
    font-size: 12px;
    font-weight: 700;
    color: rgba(131, 136, 143, 1);
    text-transform: uppercase;

    padding: 5px;
}

.navbar-item >a:hover, .navbar-item >a:active{
    color: rgba(51, 61, 75, 1);
    font-weight: 900;
    background: darkgrey;
    
}

.about{
    width: 100%;
    height: 450px;
    border-radius: 10px;

    background: url(../img/about.jpg);
    background-size: cover;

    
}

.about-title{
    width: 40%;
   
    display: flex;
    flex-direction: column;

    padding: 150px 80px;
}

.about-title >h3{
    font-family: serif;
    font-size: 42px;
    font-weight: 800;
    color: white;
}

.about-title >p{
    font-size: 14px;
    color: white;
    font-weight: 400;
    line-height: 26px;
}

@media only screen and (max-width: 768px) {
    .container{
        padding: 0 30px;
    }
    
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding: 15px 30px;
    }
    
    .logo >img{
        width: 236px;
        height: 26px;
    }
    
    .navbar{
        list-style: none;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .toggle{
        margin-top: -100px;
    }
    .navbar-item{
        margin: 0 20px;
    }
    
    .navbar-item >a{
        text-decoration: none;
        font-family: serif;
        font-size: 12px;
        font-weight: 700;
        color: rgba(131, 136, 143, 1);
        text-transform: uppercase;
    
        padding: 5px;
    }
    
    .navbar-item >a:hover, .navbar-item >a:active{
        color: rgba(51, 61, 75, 1);
        font-weight: 900;
        background: darkgrey;
        
    }
    
    .about{
        width: 100%;
        height: 400px;
        border-radius: 10px;
    
        background: url(../img/about.jpg);
        background-size: cover;
    
        
    }
    
    .about-title{
        width: 80%;
       
        display: flex;
        flex-direction: column;
    
        padding: 125px 60px;
    }
    
    .about-title >h3{
        font-family: serif;
        font-size: 42px;
        font-weight: 800;
        color: white;
    }
    
    .about-title >p{
        font-size: 14px;
        color: white;
        font-weight: 400;
        line-height: 26px;
    }
}

@media only screen and (max-width: 425px) {
    .container{
        padding: 0 10px;
    }
    
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding: 10px 20px;
    }
    
    .logo >img{
        width: 236px;
        height: 26px;
    }
    
    
    .navbar{
        display: none;
    }

    .toggle{
       margin-top: 100px;
       display: flex;
    }

    .toggle >span{
        display: flex;
    
        border-radius: 5px;
        width: 20px;
        height: 4px;
        background: rgba(51, 61, 75, 1);
    
        margin-top: 7px;
    }
    
    .toggle >span::after{
        display: flex;
        content: "";
    
        border-radius: 5px;
        width: 20px;
        height: 4px;
        background: rgba(51, 61, 75, 1);
        margin-top: -7px;
    }
    
    .about{
        width: 100%;
        height: 400px;
        border-radius: 10px;
    
        background: url(../img/about.jpg) no-repeat;
        background-size: cover;
    
        
    }
    
    .about-title{
        width: 100%;
       
        display: flex;
        flex-direction: column;
        text-align: center;
    
        padding: 90px 35px;
    }
    
    .about-title >h3{
        font-family: serif;
        font-size: 30px;
        font-weight: 800;
        color: white;
    }
    
    .about-title >p{
        font-size: 14px;
        color: white;
        font-weight: 400;
        line-height: 26px;
    }
}

